.row {
	@include px-padding-lr(2,2);

	@include mq($bp4) {
		@include px-padding-lr(0,0);
	}
}

//
// Frame
//

.holder {
	//background-color: $beta-text-color;
	@include padding-tb(1,0);

	@include mq($bp4) {
		@include padding-tb(0,0);
	}
}

//
// Header
//

.header-holder {
	//background-color: $beta-text-color;
	//@include background-opacity($beta-text-color, 0.9);
	@include mq($bp3) {
		@include padding-top(0);
	}

	h1 
	{
		color: $beta-text-color;
		@include padding-tb(2.2,0.5 );
		line-height: 1.5em;
	}

}


.header {
	@include padding-tb(0.6,0.6);
	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(12,1,1);
	}
}

	.header .inner {
		@extend %clearfix;
		border-bottom: 1px solid lighten($alpha-text-color,60);
	}



	.header-holder .inner {
		@include mq($bp3) {
			@include padding-tb(1,1);
		}

		@include mq($bp4) {
			@include padding-tb(2,1);
		}
	}

.logo {
	width: 120px;
	height: 39px;
}



//
// header image
//

.main-header-image {
	position: fixed;
	overflow: hidden;
	height: 600px;
	padding: 0;
	margin-top:-100px;
	z-index: -1;
}

.image-overlay {
	@include gradient-linear-transparant(black, 20%);
	opacity: 0.6;
	height: 600px;
	position: absolute;
	z-index: 9999;
	width: 100%;
	display: block;
}



//
// header background
//

.header-left {
	float: left;
	position: absolute; 
	width: 25%;
	opacity: 0.9;
	border-top: 4.4em solid $alpha-ui-color;
	border-right: 50px solid transparent;
	height: 0;
	width: 30%;

}

.header-right {
 	position: absolute;
 	right: 0;  
	opacity: 0.8;
	border-bottom: 4.4em solid $gamma-ui-color;
	border-left: 50px solid transparent;
	height: 0;
	width: 70%;
}




//
// main
//

.main {
	border-top: 1px solid $alpha-ui-color;
	background-color: $beta-text-color;
}

.main-holder {
	@include padding-tb(0,3);
}


//
// Doormat
//

.doormat-holder {
	@include padding-bottom(1);

	@include mq($bp4) {
		@include padding-bottom(2);
	}
}

	.doormat-col-4 {
		@include box-(12,1,1);

		@include mq($bp4) {
			@include box-(4,1,1);
		}
	}

//
// Footer
//

.footer-holder {
	background-color: $alpha-ui-color;
	color: lighten($alpha-text-color,70);

	p {
		padding: 0;
	}
}

.footer {
	@include box-(12,0,0);
		@include padding-tb(2,1.5);
}


.pre-footer {
	background-color: $gamma-ui-color;
	h3 {
		color: $alpha-ui-color;
		font-size: 1.2em;
		font-weight: 600;
		font-family: $alpha-font-family;
		@include padding-tb(0.5,0.5);	
	}
}


.contact-info {
	width: 39%;
	float: left;

	h5 {
		font-size: 1.4em;
		font-family: $alpha-font-family;
		@include padding-tb(0.6,0.1);
	}

	a {
		font-size: 1.1em;
	}

}

.copyright {
	font-size: 0.9em;
	margin-top: 2em;
}

.contact-form {
	width: 50%;
	float: right; 

}


//
// social media footer
//

.sm {
	//float: left;
	padding-left: 0px;
	@extend %clearfix;

	li{
		list-style-type: none;
		width: 35px;
		height: 35px;
		float: left;
		margin-right: 20px;
	}

}


//
// contact form 
//

.contact-pointer {
	position: absolute;
	margin-left: 535px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 20px 0 20px;
	border-color: $gamma-ui-color transparent transparent transparent;
}

#form2 {
	p {
		margin-bottom: 1em;
		label {
			padding-top: 0px;
		}
	}
}

.success {
	font-size: 1.4em;
	font-family: $alpha-font-family;
}


//
// succes 
//

.success-img {
	width: 	460px;
	height: 256px;
//	height: 269px;
}


//
// back to top
//


.endline {
	border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.back-to-top {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 1.5em;
	width: 200px;

	a {
		background-color: lighten($alpha-ui-color,5);
		border-radius: $radius;		
		@include padding-tb(0.5,0.5);
		@include px-padding-lr(2,2);
		color: $beta-text-color;
		width: 100%;
		display: block;
	}

	a:hover, a:active {
		background-color: lighten($alpha-ui-color,3);
		text-decoration: none;
	}


}




