//
// Frame
//

.holder {
	background-color: $delta-ui-color;
	@include padding-tb(1,0);

	@include mq($bp4) {
		@include padding-tb(1,1);
	}
}

//
// Header
//

.header-holder {
	@include background-opacity($beta-ui-color, 0.9);
	@include mq($bp3) {
		@include padding-top(0);
	}
}

.header {
	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(12,1,1);
	}
}

	.header .inner {
		@extend %clearfix;
		border-bottom: 1px solid lighten($alpha-text-color,60);
	}



	.header-holder .inner {
		@include mq($bp3) {
			@include padding-tb(1,1);
		}

		@include mq($bp4) {
			@include padding-tb(2,1);
		}
	}

.logo {
	width: 170px;
	height: 55px;
}






//
// Doormat
//

.doormat-holder {
	@include padding-bottom(1);

	@include mq($bp4) {
		@include padding-bottom(2);
	}
}

	.doormat-col-4 {
		@include box-(12,1,1);

		@include mq($bp4) {
			@include box-(4,1,1);
		}
	}

//
// Footer
//

.footer-holder {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color,70);
	@include padding-tb(1,1);

	p {
		padding: 0;
	}
}

	.footer {
		@include box-(12,1,1);
	}
